#header {
  border-bottom: 0.5px solid #6c757d;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 5px;
  margin: 0;
}

.call:hover {
  color: #fcb941;
}

.call__tel__number {
  padding-left: 15px;
}

#header .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

#header .drop .col-6 {
  padding-left: 20%;
}

#header .drop .col-6 .drop__items li {
  list-style-type: none;
}

#header .drop .col-6 .drop__items li a {
  color: black;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
}

#menu-wrapper .menu__left .logo img {
  padding: 20px 0;
}

.header form {
  width: 50%;
  z-index: 1;
}

.menu__center {
  padding-left: 200px;
  padding-top: 20px;
}

.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  border: 1px solid #fcb941;
  margin-left: 10%;
  z-index: 50;
}

.header__search__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32%;
  height: 100%;
  position: relative;
  padding: 10px 1%;
  font-size: calc(11px + .5vw);
}

.header__search__option p {
  color: grey;
}

.header__search__option i {
  font-size: 10px;
  color: grey;
}

.header__search__option:after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 30px;
  background-color: #bbb8b8;
}

.header__search input {
  border: none;
  outline: none;
  width: 50%;
}

.header__search .button__search {
  width: 70px;
  height: 46px;
  border: none;
  outline: none;
  background-color: #fcb941;
  padding: 0 20px;
}

.header__search .button__search:hover {
  background-color: #fba70f;
  cursor: pointer;
}

.header__search .button__search i {
  font-size: 18px;
  color: white;
}

#menu-wrapper .menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 180px;
}

#menu-wrapper .menu__right__item {
  margin: 20px;
}

#menu-wrapper .menu__right__item i:hover {
  color: red;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

#menu-wrapper .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 18px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#navigation__menu {
  background-color: black;
}

#navigation__menu .col .menu__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcb941;
  padding: 0 31px;
  padding-top: 15px;
}

#navigation__menu .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation__menu .col .menu__navigation {
  padding-left: 100px;
  padding: 1px 20;
  padding-top: 15px;
}

#navigation__menu .col .menu__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: white;
}

#navigation__menu .col .menu__navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#navigation__menu .col .menu__clearence {
  padding-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

#navigation__menu .col .menu__clearence__all {
  background-color: #fcb941;
}

#navigation__menu .col .menu__clearence .menu__clearence__icon i {
  color: white;
}

#navigation__menu .col .menu__clearence .menu__clearence__all p {
  color: white;
}

/*Campaign Start*/
.campaign {
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  min-height: 200px;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  display: inline-block;
  position: relative;
}

.campaign img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: inherit;
}

.campaign--vertical {
  min-height: 400px;
}

.campaign--large {
  min-width: 450px;
}

/*Campaign End*/
#slider {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 30%;
  margin: 30px;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 400px;
}

.navigation-manual {
  position: absolute;
  width: 300px;
  margin-top: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#slider {
  padding-top: 50px;
}

.main-carousel {
  padding-left: 30%;
  bottom: 150px;
}

.cell {
  width: 20%;
  height: 50px;
  margin: 0 5px;
}

#product .main-carousel {
  padding-top: 5%;
}

#product .main-carousel .cell {
  width: 33%;
  height: 200px;
  margin: 0 5px;
}

/*newsletter Start*/
#newsletter {
  background-color: #333333;
  padding-left: 20%;
}

#newsletter .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

#newsletter .col .newsletter__join--title h1 {
  color: #fcb941;
  font-size: 22px;
}

#newsletter .col .newsletter__join--title p {
  color: #ccc;
  font-size: 15px;
}

#newsletter .col form {
  padding: 30px;
}

#newsletter .col form button {
  padding: 5px 0;
  font-size: 13px;
  background-color: #5c5c5c;
}

#newsletter .col form button:hover {
  -webkit-transition: 3s;
  transition: 3s;
  background-color: #fcb941;
}

/*newsletter End*/
/*Footer Start*/
footer {
  background-color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

footer img {
  height: 40px;
  width: 90px;
}

footer .col h1 {
  font-size: 15px;
  color: #333333;
  padding-left: 29px;
}

footer .col ul {
  list-style: none;
  text-decoration: none;
}

footer .col ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

footer .col .newsletter button {
  background-color: #333333;
}

footer .col .newsletter button i {
  color: white;
}

/*Footer End*/
/*# sourceMappingURL=style.css.map */