@import "./veriables/veriable";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
    margin: $margin-little;
    padding: $small-padding;
    list-style-type: none;
}

/*Header Start*/
#header .header__brand img{
    height: $height-little;
    padding: $padding-big-5;
}

#header .col{
    display: flex;
}

#header .header__menu{
    padding: $big1-padding;
    padding-left: $padding-interest-1;
}

#header .header__menu ul{
    display: flex;
    text-decoration: none;
}

#header .header__menu ul li{
    margin: $margin-medium;
}

#header .header__menu ul li a{
    color:$dark-white;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
}

#header .header__menu ul li a:hover{
    color:$light-black;
}
/*Header End*/

/*Menu Start*/
#menu{
    padding-left: $padding-interest;
}

#menu .col{
    display: flex;
}

#menu .menu__health{
    padding-left:$padding-interest;
}

#menu .menu-img img{
    height: $height-medium;
    padding-left: $padding-big;
}

#menu .menu__health h1{
    font-size:$big-1;
    color:$light-black;
}

#menu .menu__health .menu__health-p{
    padding: $padding-small-2;
}

#menu .menu__health .menu__health-p p{
    color: $dark-white;
    font-family: 'Open Sans', sans-serif;
}
#menu .btn{
    font-size: $size-big;
    color:$light-1;
    margin: $margin-little-2;
    padding: 12px 40px;
    text-decoration: none;
    background:$light-blue;
    border-radius: $radius-big;
}

#menu .menu__health a{
    font-size: $little-1;
}

/*Menu End*/

/*Services Start*/


#services .services-history h1{
    color:$light-black;
    font-size: $medium-1;
    text-align: center;
}

#services .services-history-p{
    padding: $padding-medium-1;
    text-align: center;
}

#services .services-blog .col-3{
    height: $height-little-2;
    width: $width-little;
    border: 1px solid $black;
    border-radius:$radius-small;
    margin-left: $margin-medium-marginleft;
}

#services .services-blog{
    padding-left: $big-2-padding;
}

#services .services-blog .blog-1{
    display: flex;
}

#services .services-blog .blog-1 h1{
    padding-left: $big-padding;
}

#services .services-blog .blog-1 p{
    padding-left: $big-padding;
}

#services .services-blog .blog-2{
    display: flex;
    padding: $padding-little-4;
}

#services .services-blog .blog-2 h1{
    padding-left: $big-padding;
}

#services .services-blog .blog-2 p{
    padding-left: $big-padding;
}

#services img{
    padding: $medium-padding;
}

#services .col-3 h1{
    color: $light-black;
}

#services .col-3 p{
    color: $dark-white;
}

#services .btn{
    font-size: $little-3;
    color:$light-blue;
    border: 1px solid $light-blue;
    margin: $margin-little-2;
    padding: $padding-big-4;
    text-decoration: none;
    border-radius: $radius-medium;
}

#services .services-blog i{
    padding: $big-padding;
}

#services .services-btn{
    text-align:center;
    padding: $padding-medium;
}
/*Services End*/

/*Healthcare Start*/

#healthcare{
    padding-left: $padding-interest;
}

#healthcare .col{
    display: flex;
}

#healthcare .healthcare__history{
    padding-left:$padding-interest;
    padding-right: 100px;
}

#healthcare .healthcare-img img{
    height: $height-little-3;
}

#healthcare .healthcare__history h1{
    font-size:$big-1;
    color:$light-black;
}

#healthcare .healthcare__history .healthcare-p{
    padding: $padding-small-2;
}

#healthcare .healthcare__history .healthcare-p p{
    color: $dark-white;
    font-family: 'Open Sans', sans-serif;
}
#healthcare .btn{
    font-size: $size-big;
    color:$light-blue;
    margin: $margin-little-2;
    padding: $padding-big-2;
    text-decoration: none;
    border: 1px solid $light-blue;
    border-radius: $radius-big;
}

#healthcare .healthcare__history a{
    font-size: $little-1;
}

/*Healthcare End*/


/*Download Start*/

#download{
    padding-left: $padding-interest;
    padding: $padding-big-1;
}

#download .col{
    display: flex;
}

#download .download__history{
    padding-left:$padding-interest;
    padding-right: $padding-big;
}

#download .download-img img{
    height: $height-little-3;
}

#download .download__history h1{
    font-size:$big-1;
    color:$light-black;
}

#download .download__history .download-p{
    padding: $padding-small-2;
}

#download .download__history .download-p p{
    color: $dark-white;
    font-family: 'Open Sans', sans-serif;
}
#download .btn{
    font-size: $size-big;
    color:$light-blue;
    $margin-little-2: 5px;
    padding: $padding-big-2;
    text-decoration: none;
    border-radius: $radius-big;
    border: 1px solid $light-blue;
}

#download .download__history a{
    font-size: $little-1;
}

#download .download-btn i{
    padding: $medium-padding;
}

/*Download End*/

/*Person Start*/
#person{
    width:$width-big;
    height:$height-medium-1;
    background:$light-blue;
    border-radius: $radius-big;
    margin: $margin-big-1;
}
#person .person-title{
    padding: $padding-medium-1;
}

#person .person-img{
    display:flex;
}

#person .person-img .person-img-history{
    color: $light-white;
    padding: $big-padding;
}

#person .person-title h1{
    color: $light-white;
    text-align: center;
    font-size:$size-big;
}

#person .person-all{
    display: flex;
}

#person .person-history{
    padding-left: $padding-big-1;
}

#person .person-history p{
    color: $light-white;
}

#person .person-btn{
    text-align: center;
    padding-top: 100px;
}




/*Person End*/

/*Cart Start*/
#cart .cart{
    display: flex;
    padding-left: 130px;
}

#cart .cart .col-4{
    $height-big: 420px;
    width: 300px;
    border: 1px solid $black;
    $radius-big:25px ;
    $margin-medium-4:23px;
}

#cart .cart-title h1{
    text-align: center;
    $big-1: 35px;
    padding: 70px 0;
}

#cart .cart .col-4 img{
    $height-little-1: 200px;
    width: 100%;
}

#cart .cart-history h1{
    padding-left: 27px;
    color: $light-black;
}

#cart .cart-history .cart-history-p{
    padding: 10px;
    padding-left: 30px;
}


#cart .cart-history .cart-history-p p{
    color: $dark-white;
}

#cart .col-4 .btn{
    padding-left: 30px;
}

#cart .col-4 .btn{
    color: $light-blue;
    padding: 22px 0;
}

#cart .col-4 .btn a{
    color: $light-blue;
    text-decoration: none;
}





#cart .cart-btn .btn{
    $little-3: 17px;
    color:$light-blue;
    $margin-little-1: 3px;
    padding: 7px 32px;
    text-decoration: none;
    $radius-big: 25px;
    border: 1px solid $light-blue;
}

#cart .cart-btn{
    text-align:center;
    padding: 30px 0;
}

/*Cart End*/


/*Footer Start*/
footer{
    background: $light-blue;
    padding: 85px 0;
    padding-left: 150px;
}

footer .footer-menu{
    padding-left: 150px;
}

footer .col{
    display: flex;
}

footer .footer-corrective{
    padding: 28px 0;
}

footer p{
    color: $light-white;
}

footer h1{
    color:$light-white;
    $medium: 22px;
}

footer .footer-menu h3{
    color: $light-white;
    $little-3:17px;
}

footer .footer-menu .footer-p{
    padding: 20px 0;
}

footer .footer-menu .footer-p p{
    padding: 5px;
}

footer .footer-menu .footer-p p a{
    text-decoration:none;
    color: $light-white;
    $little-2: 15px;
}
/*Footer End*/