/*Brand font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*p font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*categories font*/
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #f8f8f8;
    #navbar{
        .container{
            display: flex;
            .navbar_brand{
                padding: 3px 120px;
                .name_brand_name{
                    font-family: 'Poppins', sans-serif;
                    h1{
                        color: #2f343f;
                        cursor: pointer;
                        font-size: 25px;
                    }
                    span{
                        color: #da0909;
                        font-size: 25px;
                    }
                }
                .name_brand_info{
                    line-height: 0;
                    h4{
                        font-size: 14px;
                        color: #465e6a;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .navbar_cart{
                padding-left: 55%;
                display: flex;
                margin: 15px 0;
                .navbar-cart-number{
                    padding: 16px 0;
                }
                .navbar-cart-list{
                    display: flex;
                    margin: 15px 0;
                    .navbar-cart-list_cart-img{  
                        padding-left: 6px;  
                        img{
                            width: 50px;
                            height: 60px;
                        }               
                    }
                    .navbar-cart-list_arrow-icon{
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    #menu{
        .container{
            .menu_categories{
                ul{
                    list-style: none;
                    display: flex;
                    padding: 30px 350px;
                    li{
                        padding-left: 30px;
                        color: #212529;
                        font-size: 15px;
                        font-family: 'Readex Pro', sans-serif;
                        cursor: pointer;
                    }
                }
            }
            .menu_categories-item{
                .menu_categories-item-top{
                    padding-left: 100px;
                    display: flex;
                    ul{
                        height: 300px;
                        width: 240px;
                        border: 1px solid black;
                        background-color: #fff; 
                        li{
                            padding: 30px 20px;
                            img{
                                height: 170px;
                                width: 150px;
                                
                            }
                        }
                        .menu_categories-item-top-info{
                            display: flex;
                            .menu_categories-item-top-price{
                                h2{
                                    color: #da0909;
                                    font-size: 20px;
                                    font-family: 'Readex Pro', sans-serif;
                                }
                            }
                            .menu_categories-item-top-cart{
                                display: flex;
                                padding-left: 60px;
                                .menu_categories-item-top-cart-icon{
                                    i{
                                        font-weight: 600;
                                        color: #212529;
                                        cursor: pointer;
                                        margin: 24px 0;
                                    }
                                }
                                .menu_categories-item-top-cart-icon-titles{
                                    padding-left: 10px;
                                    h3{
                                        font-weight: 600;
                                        color: #212529;
                                        cursor: pointer;
                                        font-family: 'Readex Pro', sans-serif;
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .menu_categories-item-bottom{
                    display: flex;
                    padding-left: 100px;
                    ul{
                        height: 350px;
                        width: 240px;
                        border: 1px solid black;
                        background-color: #fff; 
                        li{
                            padding: 40px 20px;
                            img{
                                height: 170px;
                                width: 150px;
                            }
                        }
                        .menu_categories-item-bottom-info{
                            display: flex;
                            .menu_categories-item-bottom-price{
                                padding: 30px 0;
                                h2{
                                    color: #da0909;
                                    font-size: 20px;
                                    font-family: 'Readex Pro', sans-serif;
                                }
                            }
                            .menu_categories-item-bottom-cart{
                                display: flex;
                                padding-left: 60px;
                                margin: 30px 0;
                                .menu_categories-item-bottom-cart-icon{
                                    i{
                                        font-weight: 600;
                                        color: #212529;
                                        cursor: pointer;
                                        margin: 24px 0;

                                    }
                                }
                                .menu_categories-item-bottom-cart-icon-titles{
                                    padding-left: 10px;
                                    h3{
                                        font-weight: 600;
                                        color: #212529;
                                        cursor: pointer;
                                        font-family: 'Readex Pro', sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #carriage{
        background-color: #f1f1f1;
        .container{
            padding: 30px 0;
            display: flex;
            margin-left: 150px;
            .carriage-delivery{
                display: flex;
                .carriage-delivery_img{
                    margin: 20px;
                    img{
                        width: 60px;
                        height: 40px;
                        margin-right: 10px; 
                    }
                }
                .carriage-delivery-info{
                    h2{
                        color: #222;
                        font-size: 14px;
                        font-family: 'Readex Pro', sans-serif;
                    }
                    p{
                        font-size: 13px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .carriage-guaranteed{
                display: flex;
                .carriage-guaranteed_img{
                    margin: 20px;
                    img{
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                }
                .carriage-delivery-info{
                    h2{
                        color: #222;
                        font-size: 14px;
                        font-family: 'Readex Pro', sans-serif;
                    }
                    p{
                        font-size: 13px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .carriege-safe{
                padding-left: 50px;
                display: flex;
                .carriege-safe_img{
                    margin: 20px;
                    img{
                        width: 60px;
                        height: 50px;
                        margin-right: 10px;
                    }
                }
                .carriage-safe-info{
                    h2{
                        color: #222;
                        font-size: 14px;
                        font-family: 'Readex Pro', sans-serif;
                    }
                    p{
                        font-size: 13px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
    #footer{
        background-color: #f8f8f8;
        .container{
            display: flex;
            .footer-copy{
                padding-left: 80px;
                p{
                    font-family: 'Roboto', sans-serif;
                }
            }
            .footer-bank{
                padding-left : 50%;
                img{
                    height: 40px;
                    width: 150px;
                }
            }
        }
    }

}