/*Brand font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*p font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    #navbar{
        .container{
            .navbar_brand{
                padding: 3px 120px;
                .name_brand_name{
                    font-family: 'Poppins', sans-serif;
                    h1{
                        color: #2f343f;
                        cursor: pointer;
                        font-size: 25px;
                    }
                    span{
                        color: #da0909;
                        font-size: 25px;
                    }
                }
                .name_brand_info{
                    line-height: 0;
                    h4{
                        font-size: 14px;
                        color: #465e6a;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .navbar_cart{
                .navbar-cart-number{
                    h2{

                    }
                }
                .navbar-cart-list{
                    display: flex;
                    .navbar-cart-list_cart-icon{
                        i{

                        }
                    }
                    .navbar-cart-list_arrow-icon{
                        i{

                        }
                    }
                }
            }
        }
    }
}