/*Brand font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/*p font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*categories font*/
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap");
* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f8f8f8;
}

body #navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #navbar .container .navbar_brand {
  padding: 3px 120px;
}

body #navbar .container .navbar_brand .name_brand_name {
  font-family: 'Poppins', sans-serif;
}

body #navbar .container .navbar_brand .name_brand_name h1 {
  color: #2f343f;
  cursor: pointer;
  font-size: 25px;
}

body #navbar .container .navbar_brand .name_brand_name span {
  color: #da0909;
  font-size: 25px;
}

body #navbar .container .navbar_brand .name_brand_info {
  line-height: 0;
}

body #navbar .container .navbar_brand .name_brand_info h4 {
  font-size: 14px;
  color: #465e6a;
  font-family: 'Roboto', sans-serif;
}

body #navbar .container .navbar_cart {
  padding-left: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

body #navbar .container .navbar_cart .navbar-cart-number {
  padding: 16px 0;
}

body #navbar .container .navbar_cart .navbar-cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

body #navbar .container .navbar_cart .navbar-cart-list .navbar-cart-list_cart-img {
  padding-left: 6px;
}

body #navbar .container .navbar_cart .navbar-cart-list .navbar-cart-list_cart-img img {
  width: 50px;
  height: 60px;
}

body #navbar .container .navbar_cart .navbar-cart-list .navbar-cart-list_arrow-icon {
  padding: 20px 0;
}

body #menu .container .menu_categories ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 350px;
}

body #menu .container .menu_categories ul li {
  padding-left: 30px;
  color: #212529;
  font-size: 15px;
  font-family: 'Readex Pro', sans-serif;
  cursor: pointer;
}

body #menu .container .menu_categories-item .menu_categories-item-top {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul {
  height: 300px;
  width: 240px;
  border: 1px solid black;
  background-color: #fff;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul li {
  padding: 30px 20px;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul li img {
  height: 170px;
  width: 150px;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info .menu_categories-item-top-price h2 {
  color: #da0909;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info .menu_categories-item-top-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info .menu_categories-item-top-cart .menu_categories-item-top-cart-icon i {
  font-weight: 600;
  color: #212529;
  cursor: pointer;
  margin: 24px 0;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info .menu_categories-item-top-cart .menu_categories-item-top-cart-icon-titles {
  padding-left: 10px;
}

body #menu .container .menu_categories-item .menu_categories-item-top ul .menu_categories-item-top-info .menu_categories-item-top-cart .menu_categories-item-top-cart-icon-titles h3 {
  font-weight: 600;
  color: #212529;
  cursor: pointer;
  font-family: 'Readex Pro', sans-serif;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul {
  height: 350px;
  width: 240px;
  border: 1px solid black;
  background-color: #fff;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul li {
  padding: 40px 20px;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul li img {
  height: 170px;
  width: 150px;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-price {
  padding: 30px 0;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-price h2 {
  color: #da0909;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  margin: 30px 0;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-cart .menu_categories-item-bottom-cart-icon i {
  font-weight: 600;
  color: #212529;
  cursor: pointer;
  margin: 24px 0;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-cart .menu_categories-item-bottom-cart-icon-titles {
  padding-left: 10px;
}

body #menu .container .menu_categories-item .menu_categories-item-bottom ul .menu_categories-item-bottom-info .menu_categories-item-bottom-cart .menu_categories-item-bottom-cart-icon-titles h3 {
  font-weight: 600;
  color: #212529;
  cursor: pointer;
  font-family: 'Readex Pro', sans-serif;
}

body #carriage {
  background-color: #f1f1f1;
}

body #carriage .container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
}

body #carriage .container .carriage-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #carriage .container .carriage-delivery .carriage-delivery_img {
  margin: 20px;
}

body #carriage .container .carriage-delivery .carriage-delivery_img img {
  width: 60px;
  height: 40px;
  margin-right: 10px;
}

body #carriage .container .carriage-delivery .carriage-delivery-info h2 {
  color: #222;
  font-size: 14px;
  font-family: 'Readex Pro', sans-serif;
}

body #carriage .container .carriage-delivery .carriage-delivery-info p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

body #carriage .container .carriage-guaranteed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #carriage .container .carriage-guaranteed .carriage-guaranteed_img {
  margin: 20px;
}

body #carriage .container .carriage-guaranteed .carriage-guaranteed_img img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

body #carriage .container .carriage-guaranteed .carriage-delivery-info h2 {
  color: #222;
  font-size: 14px;
  font-family: 'Readex Pro', sans-serif;
}

body #carriage .container .carriage-guaranteed .carriage-delivery-info p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

body #carriage .container .carriege-safe {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #carriage .container .carriege-safe .carriege-safe_img {
  margin: 20px;
}

body #carriage .container .carriege-safe .carriege-safe_img img {
  width: 60px;
  height: 40px;
  margin-right: 10px;
}

body #carriage .container .carriege-safe .carriage-safe-info h2 {
  color: #222;
  font-size: 14px;
  font-family: 'Readex Pro', sans-serif;
}

body #carriage .container .carriege-safe .carriage-safe-info p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

body #footer {
  background-color: #f8f8f8;
}

body #footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #footer .container .footer-copy {
  padding-left: 80px;
}

body #footer .container .footer-copy p {
  font-family: 'Roboto', sans-serif;
}

body #footer .container .footer-bank {
  padding-left: 50%;
}

body #footer .container .footer-bank img {
  height: 40px;
  width: 150px;
}

body ul li.active {
  width: 50%;
  padding: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body ul li.delete {
  width: 0%;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=style.css.map */