@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");
* {
  list-style: none;
  text-decoration: none;
}

#header {
  border-bottom: 0.5px solid #6c757d;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 5px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.call:hover {
  color: #fcb941;
}

.call__tel__number {
  padding-left: 15px;
  cursor: pointer;
}

#header .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

#header .drop .col-6 {
  padding-left: 20%;
}

#header .drop .drop-menu {
  background: #fff;
  width: 50px;
  top: 25px;
  list-style: none;
  line-height: 25px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

#header .drop .col-6 .nav-links {
  list-style: none;
}

#header .drop .col-6 .drop__items {
  list-style: none;
}

#header .drop .col-6 .nav-links li:hover .drop-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .drop .drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
}

#menu-wrapper .menu__left .logo img {
  padding: 20px 0;
}

#menu-wrapper .menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 180px;
}

#menu-wrapper .menu__right__item {
  margin: 20px;
}

#menu-wrapper .menu__right__item:hover {
  color: #fcb941;
  cursor: pointer;
}

#menu-wrapper .menu__right__item i:hover {
  color: red;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

#menu-wrapper .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-wrapper .menu__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 300px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #fcb941;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div, .select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 18px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#navigation__menu {
  background-color: black;
}

#navigation__menu .col .menu__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcb941;
  padding: 0 31px;
  padding-top: 15px;
  position: relative;
}

#navigation__menu .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toogle-active {
  display: none;
}

.navigation__menu__categories {
  position: absolute;
  width: 178px;
  height: 400px;
  top: 60px;
  left: 0;
  z-index: 999999;
  background-color: white;
}

.navigation__menu__categories ul {
  display: contents;
}

.navigation__menu__categories__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0;
}

.navigation__menu__categories__elements i {
  font-size: 13px;
  padding-top: 8px;
}

.navigation__menu__categories__elements li a {
  font-size: 14px;
  padding: 13px;
}

#navigation__menu .col .menu__navigation {
  padding-left: 100px;
  padding: 1px 20;
  padding-top: 15px;
}

#navigation__menu .col .menu__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: white;
}

#navigation__menu .col .menu__navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#navigation__menu .col .menu__clearence {
  padding-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

#navigation__menu .col .menu__clearence .menu__clearence__icon i {
  color: #fcb941;
}

#navigation__menu .col .menu__clearence .menu__clearence__all p {
  color: white;
}

/*Menu Slider Start*/
.slider-box {
  width: 80%;
  height: 80vh;
  margin: 30px 1% 30px 19%;
  position: relative;
  overflow: hidden;
}

#slider {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: -1;
  position: relative;
}

#slider img {
  width: 100%;
  background-size: contain;
  z-index: -1;
}

.indicators {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 5;
  position: relative;
}

.indicators span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 5;
}

.indicators .indicators__elements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  background: #fff !important;
}

/*Menu Slider End*/
.main-carousel {
  padding-left: 30%;
  bottom: 150px;
}

.cell {
  width: 20%;
  height: 50px;
  margin: 0 5px;
}

/*boxes Start*/
#boxes {
  background: #fafafa;
  padding: 60px 0;
  padding-left: 100px;
}

#boxes .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#boxes .col .boxes__icon i {
  font-size: 30px;
  padding: 7px 0;
}

/*bestsellers Start*/
.bestsellers {
  height: 500px;
  width: 350px;
  border: 1px solid black;
}

.bestsellers__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers__elements-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers__elements-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers__elements-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers__elements-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers h1 {
  font-size: 15px;
  color: #919294;
}

.bestsellers .dolar {
  font-size: 14px;
  color: #fcb941;
}

.bestsellers .bestsellers__img img {
  height: 90px;
}

/*bestsellers End*/
/*deal week Start*/
.deal__week {
  height: 300px;
  width: 340px;
  border: 1px solid black;
  margin: 10px;
}

.deal__week h1 {
  font-size: 15px;
  color: #a9aaae;
}

.deal__week .dollar {
  color: #ffbccd;
}

.deal__week .star__icon {
  color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deal__week .icon__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*deal week End*/
/*Photos Start*/
.photos {
  height: 400px;
  width: 350px;
  border: 1px solid black;
}

.photos img {
  height: 100%;
  width: 100%;
}

.photos .take__photos h1 {
  font-size: 22px;
  text-align: center;
}

/*Photos end*/
/*Blog Start*/
.blog__posts {
  height: 500px;
  width: 350px;
  border: 1px solid black;
}

.blog__posts__img img {
  width: 100%;
}

.blog__posts .time {
  font-size: 16px;
  color: #d7d7d7;
}

.blog__posts .header {
  font-size: 16px;
}

.blog__posts .history {
  font-size: 15px;
  color: #d7d7d7;
}

.blog__posts .btn {
  color: #ffd894;
}

/*Blog End*/
/*newsletter Start*/
#newsletter {
  background-color: #333333;
  padding-left: 20%;
}

#newsletter .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

#newsletter .col .newsletter__join--title h1 {
  color: #fcb941;
  font-size: 22px;
}

#newsletter .col .newsletter__join--title p {
  color: #ccc;
  font-size: 15px;
}

#newsletter .col form {
  padding: 30px;
}

#newsletter .col form button {
  padding: 5px 0;
  font-size: 13px;
  background-color: #5c5c5c;
}

#newsletter .col form button:hover {
  -webkit-transition: 3s;
  transition: 3s;
  background-color: #fcb941;
}

/*newsletter End*/
/*Footer Start*/
footer {
  background-color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

footer img {
  height: 40px;
  width: 90px;
}

footer .col h1 {
  font-size: 15px;
  color: #333333;
  padding-left: 29px;
}

footer .col ul {
  list-style: none;
  text-decoration: none;
}

footer .col ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

footer .col .newsletter button {
  background-color: #333333;
}

footer .col .newsletter button i {
  color: white;
}

/*Footer End*/
/*# sourceMappingURL=style.css.map */