.padding-top-reset {
    padding-top: $padding-reset
}

.padding-top-x {
    padding-top: $padding-x
}

.padding-top-2x {
    padding-top: $padding-2x
}

.padding-top-3x {
    padding-top: $padding-3x
}

.padding-top-4x {
    padding-top: $padding-4x
}

.padding-top-5x {
    padding-top: $padding-5x
}