// spacing

$spacing-reset:0px;
$spacing-x:5px;
$spacing-2x:$spacing-x*2;
$spacing-3x:$spacing-x*3;
$spacing-4x:$spacing-x*4;
$spacing-5x:$spacing-x*5;
// padding

$padding-reset:0px;
$padding-x:$spacing-x;
$padding-2x:$spacing-2x;
$padding-3x:$spacing-3x;
$padding-4x:$spacing-4x;
$padding-5x:$spacing-5x;
// margin

$margin-reset:0px;
$margin-x:$spacing-x;
$margin-2x:$spacing-2x;
$margin-3x:$spacing-3x;
$margin-4x:$spacing-4x;
$margin-5x:$spacing-5x;
// radius

$radius-reset:0px;
$radius-x:$spacing-x;
$radius-2x:$spacing-2x;
$radius-3x:$spacing-3x;
$radius-4x:$spacing-4x;