*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: $light-brown;
}

#home{
    .col{
        display: flex;
    }
    .home-brand{
        display: flex;
        padding-left:50px ;
        .home-brand-icon{
            color: #c2ff3d;
            font-size: 37px;
            padding: 15px 0;
        }
        .home-brand-name{
            color: white;
            font-family: $brand-font;
            font-size: 23px;
            padding: 15px 0;
            padding-left: 15px;
        }
    }
    .home-btn{
        padding-left: 65%;
        margin: 15px 0;
        button{
            padding: 8px;
            outline: none;
            cursor: pointer;
            font-family: $btn-font;
            border-radius: 5px;
            background: whitesmoke;
            border: 1px solid lightgray;
        }
        :hover{
            background-color: $light-brown;
            color: white;
        }
    }

}